#author-pic{
  max-width: 500px;
  z-index: 40;

}

#popup-box{
  display: none;
  background-image: linear-gradient(#ff9263, #ff8552);
  position: relative;
  margin: 10px;
  width: fit-content;
  height: fit-content;
}

.img-with-popup{
  display: flex;
  align-items: center;
  flex-direction: column;
}