footer {
  min-height: 300px;
  background-color: rgb(26, 34, 39);   
  padding: 10px;
}

footer ul {
  list-style: none;
}

footer li {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer a {
  color: rgb(221, 221, 221);
  text-decoration: none;
}

.float-right {
  float: right;
}
