#active {
    background-color: blue;
    animation: none;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.bgimg {
    background-image: url("../images/HGBanner.webp");
    background-size: cover;
    background-position: center;
}

body {
    background-color: #d3e0ca;
}

img {
  width: 50%;
  height: auto;
}