#active {
    background-color: blue;
    animation: none;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

img {
  width: 50%;
  height: auto;
}