.show-button {
    display: none;
}

#navigation {
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.25);
}

#menu {
    overflow: hidden;
    list-style: none;
    background-color: white;
}

#menu li a {
    text-decoration: none;
    float: left;
    cursor: pointer;
    padding: 24px 32px;
    text-align: center;
    border-radius: 10px;
}

#menu li a:hover {
    animation-name: hover-animation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@media only screen and (max-width:700px) {
    .show-button {
        display: inline-block;
    }

    #navigation {
        background-color: white;
        position: fixed;
        min-height: 100%;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;    
        transition: all 1s ease;    
    }

    #menu li a {
        font-weight: bold;
        width: 100%;
        padding: 20px;
    }

    #menu {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        list-style: none;
        background-color: white;
        transition: all 1s ease;
    }
}