.info-block {
    display: flex;
    min-height: 200px;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
}

@media only screen and (min-width: 700px){
    .info-block{
        flex-direction: row;
    }  
}

.info-block div {
    background-image: linear-gradient(#ff9263, #ff8552);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.info-block h3 {
    padding: 20px;
}

.info-block p {
    padding: 20px;
}

.info-block button {
    background-color: #5c5e64;
    cursor: pointer;
    border-style: none;
    margin: 20px;
    padding: 12px 8px;
    transition: all 0.3s ease;
    color: white;
}

.info-block button:hover {
    color: white;
    background-color: #84878f;
}