.introduction-block {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  background-image: url("../images/HGBanner.webp");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.introduction-block div {
  position: inherit;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.introduction-block h1 {
  font-size: 36px;
}

.introduction-block p {
  margin-top: 20px;
}