table {
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    border-spacing: 0;
    background-image: linear-gradient(#ff9263, #ff8552);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

th {
    text-align: left;
    padding: 20px;
    border: 1px solid;
    border-color: black;
    color: white;
    background-color: #84878f;
    text-shadow: 0 0 10px black;
  }

td {
    text-align: left;
    padding: 20px;
    border: 1px solid;
  }
table tr:first-child th:first-child{
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child{
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr td:first-child {
    font-weight: bold;
    vertical-align: text-top;
}

.char-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.char-link {
    padding: 0 40px 20px;
}